POSTGRES_DB=toir_db
POSTGRES_USER=toir_admin
POSTGRES_PASSWORD=change_me_strong_password
TOIR_APP_PASSWORD=change_app_password
TOIR_ANALYST_PASSWORD=change_analyst_password
TOIR_AUDITOR_PASSWORD=change_auditor_password
TOIR_BACKUP_PASSWORD=change_backup_password
